.btn-common {
  color: #333333;
  font-family: @brand_bold;
  text-transform: uppercase;
  padding: 14px 45px;
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
  border: 1px solid #c5cbd2;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  &:hover {
    color: #016fb8;
    .box-shadow(0 0 0px 2px #f2f2f2);

    .fa {
      color: #016fb8;
    }
  }
  .fa-long-arrow-right {
    margin-left: 10px;
    font-size: 12px;
    color: @yellow;
    .transition(all .3s ease);
  }

  &.news-read{
    border: 1px solid @black;
    border-radius: 0px;
  }
}



.btn-blue {
  color: @white;
  border: 2px solid @blue;

  &:before, &:after {
    background-color: @blue;
  }

  &:hover {
    color: #333333;
    .box-shadow(0 0 0px 2px rgb(207, 225, 254));

    &:before, &:after {
      height: 0;
    }
  }
}