.section-banner {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px);
}
.section-content {
  padding: 4em 0;
}
.section-footer {
  padding-bottom: 2em;
}
.section-header {
	p {
		color: #c5cbd2;
		font-size: 16px;
		font-family: @brand_med;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 0;
	}
	h4 {
		font-family: @brand_med;
	}
}