.copy-float-left {
  float: left;
}
.copy-block {
  display: block;
}
.section-frontline-services .section-header p {
  font-size: 21px;
  margin: 2em 0 1em;
}
.section-frontline-services .nav-tabs {
  width: 30%;
  border: none;
}
.section-frontline-services .nav-tabs li {
  margin: 0;
  border: 1px solid #016eb6;
  width: 100%;
  border-bottom: 0;
}
.section-frontline-services .nav-tabs li:first-child {
  border-top-left-radius: 5px;
}
.section-frontline-services .nav-tabs li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #016eb6;
}
.section-frontline-services .nav-tabs li a {
  font-size: 16px;
  font-family: "RobotoRegular";
  color: #616161;
  text-transform: uppercase;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 1.5em 1em;
  background-color: transparent;
}
.section-frontline-services .nav-tabs li.active a {
  background-color: #016eb6;
  color: #fff;
  border: none;
}
.section-frontline-services .nav-tabs li.active a:hover,
.section-frontline-services .nav-tabs li.active a:focus {
  border: none;
}
.section-frontline-services .tab-content {
  width: 70%;
  min-height: 630px;
  border: 1px solid #016eb6;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3em;
}
.section-frontline-services .tab-content ul li {
  padding: 1.5em 0;
}
.section-frontline-services .tab-content ul li:first-child {
  padding-top: 0;
}
.section-frontline-services .tab-content ul li .copy-head {
  text-transform: uppercase;
  font-family: 'RobotoMedium';
}
